header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    height: 60px;
    padding: 8px;
  }
  body {
    font-family: 'Raleway', sans-serif;
    color: #213053;
  }
   
  .header__logo {
    height: 50px;
  }

  a {
    text-decoration: none;
    color: #213053;
    margin: 10px;
  }
  header a {
    font-size: 17px;
    font-weight: 600;
  }
  button {
    font-family: 'Raleway', sans—serif;
    font-size: 17px;
    color: #ffffff;
    background-color: #f19331;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 20px 36px rgba(14, 67, 19, 0.22);
    padding: 7px;
  }
  .about__image {
    width: 500px;
  }
   
  .about__sun-image {
    width: 100px;
    height: 100px;
  }
  .about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 115px;
    padding-top: 115px;
  }
  .about h1{
    font-size: 70px;
    line-height: 76px;
  }

  .about p{
    font-size: 18px;
    line-height: 30px;
    opacity: 0.8;
  }

  .about button{
    font-size: 18px;
    border-radius: 20px;
    padding: 20px 25px;
    margin-top: 20px;
  }

  .about_info {
    max-width: 550px;
    white-space: normal;
  }
  .about {
    background: url('img/back.png') no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 15px;
  }

  